# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [23]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [17]:
symbol_list=['ACWI','SPY','AAXJ','TDEX.BK']
list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file='data/WORLD-US-ASIA-THAI.csv'

In [18]:
from_date_str='2023-01-01'
to_date_str='2023-01-07'

In [19]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [20]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============ACWI=============
  Ticker   Date/Time       open       high        low      close    volume
0   ACWI  03/01/2023  85.510002  86.019997  84.400002  84.900002  13272000
1   ACWI  04/01/2023  85.820000  86.279999  85.110001  85.980003   5696300
2   ACWI  05/01/2023  85.419998  85.519997  84.919998  85.099998   8268000
[*********************100%***********************]  1 of 1 completed
==============SPY=============
  Ticker   Date/Time        open        high         low       close    volume
0    SPY  03/01/2023  384.369995  386.429993  377.829987  380.820007  74850700
1    SPY  04/01/2023  383.179993  385.880005  380.000000  383.760010  85934100
2    SPY  05/01/2023  381.720001  381.839996  378.760010  379.380005  76641100
[*********************100%***********************]  1 of 1 completed
==============AAXJ=============
  Ticker   Date/Time       open       high        low      close   volume
0   AAXJ  03/01/2023  65.779999  66.260002  65.419998  65.669998   654300
1   AAXJ  04/01/2023  67.050003  67.970001  66.709999  67.919998   515200
2   AAXJ  05/01/2023  67.519997  67.720001  67.239998  67.559998  1115700
[*********************100%***********************]  1 of 1 completed
==============TDEX.BK=============
    Ticker   Date/Time   open   high    low  close   volume
0  TDEX.BK  03/01/2023  10.06  10.06  10.00  10.06  1447400
1  TDEX.BK  04/01/2023  10.00  10.05   9.97   9.97   104400
2  TDEX.BK  05/01/2023  10.00  10.00   9.91   9.96   288300
3  TDEX.BK  06/01/2023   9.98  10.01   9.97   9.99   134858

In [21]:
dfMain

,Ticker,Date/Time,open,high,low,close,volume
0,ACWI,03/01/2023,85.510002,86.019997,84.400002,84.900002,13272000
1,ACWI,04/01/2023,85.820000,86.279999,85.110001,85.980003,5696300
2,ACWI,05/01/2023,85.419998,85.519997,84.919998,85.099998,8268000
0,SPY,03/01/2023,384.369995,386.429993,377.829987,380.820007,74850700
1,SPY,04/01/2023,383.179993,385.880005,380.000000,383.760010,85934100
2,SPY,05/01/2023,381.720001,381.839996,378.760010,379.380005,76641100
0,AAXJ,03/01/2023,65.779999,66.260002,65.419998,65.669998,654300
1,AAXJ,04/01/2023,67.050003,67.970001,66.709999,67.919998,515200
2,AAXJ,05/01/2023,67.519997,67.720001,67.239998,67.559998,1115700
0,TDEX.BK,03/01/2023,10.060000,10.060000,10.000000,10.060000,1447400
1,TDEX.BK,04/01/2023,10.000000,10.050000,9.970000,9.970000,104400
2,TDEX.BK,05/01/2023,10.000000,10.000000,9.910000,9.960000,288300
3,TDEX.BK,06/01/2023,9.980000,10.010000,9.970000,9.990000,134858

In [22]:
dfMain.to_csv(output_file,index=False)