# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [2]:
symbol_list=['ACWI','SPY','AAXJ','TDEX.BK']

list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file='data/WORLD-US-ASIA-THAI.csv'

In [3]:
from_date_str='2022-06-30'
to_date_str='2023-01-14'
print(f"Get data of {symbol_list} from :{from_date_str} to {to_date_str}")

Get data of ['ACWI', 'SPY', 'AAXJ', 'TDEX.BK'] from :2022-06-30 to 2023-01-14

In [4]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [5]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============ACWI=============
    Ticker   Date/Time       open       high        low      close    volume
0     ACWI  29/06/2022  84.870003  85.029999  84.260002  84.559998   3589900
1     ACWI  30/06/2022  83.459999  84.430000  82.779999  83.889999   5459500
2     ACWI  01/07/2022  83.500000  84.550003  82.930000  84.480003   3230800
3     ACWI  05/07/2022  82.949997  84.070000  82.400002  84.050003   5108900
4     ACWI  06/07/2022  83.989998  84.589996  83.419998  84.169998   3530200
..     ...         ...        ...        ...        ...        ...       ...
133   ACWI  09/01/2023  87.660004  88.330002  87.220001  87.260002   6658500
134   ACWI  10/01/2023  87.190002  87.769997  86.919998  87.750000   4361200
135   ACWI  11/01/2023  88.070000  88.690002  87.910004  88.669998  13190300
136   ACWI  12/01/2023  89.120003  89.529999  88.110001  89.290001   5230700
137   ACWI  13/01/2023  88.730003  89.779999  88.720001  89.690002   8269400

[138 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============SPY=============
    Ticker   Date/Time        open        high         low       close  \
0      SPY  29/06/2022  381.230011  382.269989  378.420013  380.339996
1      SPY  30/06/2022  376.239990  380.660004  372.559998  377.250000
2      SPY  01/07/2022  376.559998  381.700012  373.799988  381.239990
3      SPY  05/07/2022  375.880005  381.980011  372.899994  381.959991
4      SPY  06/07/2022  382.109985  385.869995  379.600006  383.250000
..     ...         ...         ...         ...         ...         ...
133    SPY  09/01/2023  390.369995  393.700012  387.670013  387.859985
134    SPY  10/01/2023  387.250000  390.649994  386.269989  390.579987
135    SPY  11/01/2023  392.230011  395.600006  391.380005  395.519989
136    SPY  12/01/2023  396.670013  398.489990  392.420013  396.959991
137    SPY  13/01/2023  393.619995  399.100006  393.339996  398.500000

        volume
0     65676000
1    112508300
2     74839700
3     81438000
4     70426200
..         ...
133   73978100
134   65358100
135   68881100
136   90157700
137   63863400

[138 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============AAXJ=============
    Ticker   Date/Time       open       high        low      close   volume
0     AAXJ  29/06/2022  69.300003  69.559998  69.099998  69.370003   633800
1     AAXJ  30/06/2022  68.459999  69.220001  68.050003  69.199997  1657600
2     AAXJ  01/07/2022  68.370003  68.739998  67.959999  68.690002   855100
3     AAXJ  05/07/2022  67.320000  68.370003  67.089996  68.370003  1738600
4     AAXJ  06/07/2022  67.959999  68.089996  67.339996  67.860001  1290000
..     ...         ...        ...        ...        ...        ...      ...
133   AAXJ  09/01/2023  69.669998  69.870003  69.290001  69.290001  2563800
134   AAXJ  10/01/2023  69.349998  69.730003  69.089996  69.720001   980200
135   AAXJ  11/01/2023  69.570000  70.029999  69.449997  69.900002  2644800
136   AAXJ  12/01/2023  70.059998  70.290001  69.339996  70.230003  1037300
137   AAXJ  13/01/2023  70.160004  70.800003  70.160004  70.750000   942800

[138 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============TDEX.BK=============
      Ticker   Date/Time   open   high    low  close  volume
0    TDEX.BK  30/06/2022   9.49   9.50   9.35   9.37  255900
1    TDEX.BK  01/07/2022   9.37   9.50   9.34   9.38  175100
2    TDEX.BK  04/07/2022   9.42   9.42   9.35   9.35  596600
3    TDEX.BK  05/07/2022   9.43   9.43   9.28   9.30  384500
4    TDEX.BK  06/07/2022   9.30   9.30   9.23   9.29  214200
..       ...         ...    ...    ...    ...    ...     ...
127  TDEX.BK  09/01/2023  10.01  10.10  10.01  10.07  385700
128  TDEX.BK  10/01/2023  10.07  10.12  10.05  10.07  180200
129  TDEX.BK  11/01/2023  10.08  10.08  10.00  10.02  191000
130  TDEX.BK  12/01/2023  10.04  10.06   9.99  10.02  301300
131  TDEX.BK  13/01/2023  10.03  10.06   9.95   9.98  597500

[132 rows x 7 columns]

In [6]:
dfMain

      Ticker   Date/Time       open       high        low      close   volume
0       ACWI  29/06/2022  84.870003  85.029999  84.260002  84.559998  3589900
1       ACWI  30/06/2022  83.459999  84.430000  82.779999  83.889999  5459500
2       ACWI  01/07/2022  83.500000  84.550003  82.930000  84.480003  3230800
3       ACWI  05/07/2022  82.949997  84.070000  82.400002  84.050003  5108900
4       ACWI  06/07/2022  83.989998  84.589996  83.419998  84.169998  3530200
..       ...         ...        ...        ...        ...        ...      ...
127  TDEX.BK  09/01/2023  10.010000  10.100000  10.010000  10.070000   385700
128  TDEX.BK  10/01/2023  10.070000  10.120000  10.050000  10.070000   180200
129  TDEX.BK  11/01/2023  10.080000  10.080000  10.000000  10.020000   191000
130  TDEX.BK  12/01/2023  10.040000  10.060000   9.990000  10.020000   301300
131  TDEX.BK  13/01/2023  10.030000  10.060000   9.950000   9.980000   597500

[546 rows x 7 columns]

In [7]:
dfMain.to_csv(output_file,index=False)