# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [5]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [6]:
# symbol_list=['ACWI','QQQ','AAXJ','GLD']
symbol_list=['SPY','ACWI']
#symbol_list=['QQQ','SPY','ACWI','EXSA.DE','AAXJ','THD']

list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file=r'data/4CoreETFWorld.csv'

In [7]:
from_date_str='2023-07-01'
to_date_str='2023-09-30'
print(f"Get data of {symbol_list} from :{from_date_str} to {to_date_str}")

Get data of ['SPY', 'ACWI'] from :2023-07-01 to 2023-09-30

In [8]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [9]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============SPY=============
   Ticker   Date/Time        open        high         low       close  \
0     SPY  03/07/2023  442.920013  444.079987  442.630005  443.790009
1     SPY  05/07/2023  441.910004  443.890015  441.899994  443.130005
2     SPY  06/07/2023  439.420013  440.100006  437.059998  439.660004
3     SPY  07/07/2023  438.630005  442.640015  438.299988  438.549988
4     SPY  10/07/2023  438.179993  439.839996  437.589996  439.660004
..    ...         ...         ...         ...         ...         ...
58    SPY  25/09/2023  429.170013  432.269989  428.720001  432.230011
59    SPY  26/09/2023  429.089996  429.820007  425.019989  425.880005
60    SPY  27/09/2023  427.089996  427.670013  422.290009  426.049988
61    SPY  28/09/2023  425.480011  430.250000  424.869995  428.519989
62    SPY  29/09/2023  431.670013  431.850006  425.910004  427.480011

       volume
0    32793400
1    58418400
2    80658300
3    86076100
4    62443500
..        ...
58   70874500
59   96168400
60  104705800
61   92258300
62  115078500

[63 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============ACWI=============
   Ticker   Date/Time       open       high        low      close   volume
0    ACWI  03/07/2023  96.019997  96.220001  95.970001  96.169998  1508900
1    ACWI  05/07/2023  95.680000  95.849998  95.529999  95.699997  3163500
2    ACWI  06/07/2023  94.620003  94.660004  93.980003  94.519997  2127100
3    ACWI  07/07/2023  94.480003  95.419998  94.440002  94.709999   949000
4    ACWI  10/07/2023  94.570000  94.970001  94.570000  94.949997  1066400
..    ...         ...        ...        ...        ...        ...      ...
58   ACWI  25/09/2023  92.809998  93.389999  92.750000  93.379997  1647100
59   ACWI  26/09/2023  92.699997  92.879997  91.900002  92.019997  4868200
60   ACWI  27/09/2023  92.379997  92.459999  91.320000  92.059998  2563100
61   ACWI  28/09/2023  91.989998  92.940002  91.820000  92.629997  2619000
62   ACWI  29/09/2023  93.449997  93.449997  92.160004  92.370003  2476000

[63 rows x 7 columns]

In [10]:
dfMain

,Ticker,Date/Time,open,high,low,close,volume
0,SPY,03/07/2023,442.920013,444.079987,442.630005,443.790009,32793400
1,SPY,05/07/2023,441.910004,443.890015,441.899994,443.130005,58418400
2,SPY,06/07/2023,439.420013,440.100006,437.059998,439.660004,80658300
3,SPY,07/07/2023,438.630005,442.640015,438.299988,438.549988,86076100
4,SPY,10/07/2023,438.179993,439.839996,437.589996,439.660004,62443500
...,...,...,...,...,...,...,...
58,ACWI,25/09/2023,92.809998,93.389999,92.750000,93.379997,1647100
59,ACWI,26/09/2023,92.699997,92.879997,91.900002,92.019997,4868200
60,ACWI,27/09/2023,92.379997,92.459999,91.320000,92.059998,2563100
61,ACWI,28/09/2023,91.989998,92.940002,91.820000,92.629997,2619000
62,ACWI,29/09/2023,93.449997,93.449997,92.160004,92.370003,2476000

In [8]:
dfMain.to_csv(output_file,index=False)