# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [3]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [4]:
symbol_list=['ACWI','SPY','QQQ']

list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file='data/3CoreETFWorld.csv'

In [5]:
from_date_str='2021-01-01'
to_date_str='2023-02-17'
print(f"Get data of {symbol_list} from :{from_date_str} to {to_date_str}")

Get data of ['ACWI', 'VT', 'URTH'] from :2023-01-01 to 2023-02-05

In [6]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [7]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============ACWI=============
   Ticker   Date/Time       open       high        low      close    volume
0    ACWI  03/01/2023  85.510002  86.019997  84.400002  84.900002  13272000
1    ACWI  04/01/2023  85.820000  86.279999  85.110001  85.980003   5696300
2    ACWI  05/01/2023  85.419998  85.519997  84.919998  85.099998   8268000
3    ACWI  06/01/2023  85.800003  87.250000  85.129997  87.070000   5254100
4    ACWI  09/01/2023  87.660004  88.330002  87.220001  87.260002   6658500
5    ACWI  10/01/2023  87.190002  87.769997  86.919998  87.750000   4361200
6    ACWI  11/01/2023  88.070000  88.690002  87.910004  88.669998  13190300
7    ACWI  12/01/2023  89.120003  89.529999  88.110001  89.290001   5230700
8    ACWI  13/01/2023  88.730003  89.779999  88.720001  89.690002   8269400
9    ACWI  17/01/2023  89.690002  90.070000  89.470001  89.629997   3795100
10   ACWI  18/01/2023  90.180000  90.309998  88.610001  88.650002   3426900
11   ACWI  19/01/2023  88.300003  88.680000  87.879997  88.300003   3860000
12   ACWI  20/01/2023  88.449997  89.680000  88.190002  89.669998   5019800
13   ACWI  23/01/2023  89.669998  90.779999  89.550003  90.459999   7665800
14   ACWI  24/01/2023  90.059998  90.519997  89.779999  90.339996   5137400
15   ACWI  25/01/2023  89.629997  90.629997  89.239998  90.550003   6457200
16   ACWI  26/01/2023  91.110001  91.360001  90.400002  91.320000   5496300
17   ACWI  27/01/2023  90.949997  91.809998  90.919998  91.370003   5553300
18   ACWI  30/01/2023  90.779999  91.180000  90.230003  90.269997   7535100
19   ACWI  31/01/2023  90.160004  91.260002  90.089996  91.250000   8372000
20   ACWI  01/02/2023  91.019997  92.709999  90.430000  92.180000   3807600
21   ACWI  02/02/2023  92.949997  93.239998  92.220001  92.930000   3485900
22   ACWI  03/02/2023  91.800003  92.455002  91.769997  92.330002    333512
[*********************100%***********************]  1 of 1 completed
==============VT=============
   Ticker   Date/Time       open       high        low      close   volume
0      VT  03/01/2023  86.879997  87.379997  85.709999  86.239998  3647800
1      VT  04/01/2023  87.019997  87.620003  86.449997  87.300003  2534400
2      VT  05/01/2023  86.720001  86.790001  86.199997  86.400002  2486400
3      VT  06/01/2023  87.010002  88.550003  86.410004  88.379997  1827700
4      VT  09/01/2023  89.000000  89.650002  88.550003  88.589996  4752300
5      VT  10/01/2023  88.510002  89.070000  88.220001  89.070000  4671700
6      VT  11/01/2023  89.440002  89.980003  89.239998  89.970001  2731900
7      VT  12/01/2023  90.320000  90.870003  89.449997  90.610001  2880000
8      VT  13/01/2023  90.050003  91.150002  90.000000  91.080002  1711600
9      VT  17/01/2023  91.040001  91.480003  90.860001  91.059998  2714800
10     VT  18/01/2023  91.629997  91.739998  90.050003  90.080002  4146400
11     VT  19/01/2023  89.680000  90.080002  89.279999  89.680000  4035100
12     VT  20/01/2023  89.940002  91.089996  89.610001  91.070000  2333300
13     VT  23/01/2023  91.050003  92.250000  90.970001  91.930000  4305300
14     VT  24/01/2023  91.580002  92.019997  91.279999  91.839996  1460700
15     VT  25/01/2023  91.160004  92.070000  90.699997  92.010002  1616400
16     VT  26/01/2023  92.580002  92.820000  91.879997  92.790001  1645800
17     VT  27/01/2023  92.440002  93.239998  92.339996  92.849998  1597900
18     VT  30/01/2023  92.220001  92.629997  91.690002  91.720001  2152500
19     VT  31/01/2023  91.730003  92.790001  91.589996  92.779999  1352900
20     VT  01/02/2023  92.680000  94.300003  91.989998  93.790001  1830600
21     VT  02/02/2023  94.459999  94.870003  93.849998  94.550003  2264400
22     VT  03/02/2023  93.430000  94.056000  93.430000  94.000000   510556
[*********************100%***********************]  1 of 1 completed
==============URTH=============
   Ticker   Date/Time        open        high         low       close  volume
0    URTH  03/01/2023  110.040001  110.570000  108.389999  109.099998  592600
1    URTH  04/01/2023  110.080002  110.650002  109.199997  110.169998  223500
2    URTH  05/01/2023  109.480003  109.480003  108.800003  108.879997  196800
3    URTH  06/01/2023  109.699997  111.680000  108.970001  111.449997  287600
4    URTH  09/01/2023  112.250000  113.000000  111.500000  111.580002  459800
5    URTH  10/01/2023  111.339996  112.190002  111.099998  112.190002  111000
6    URTH  11/01/2023  112.669998  113.419998  112.489998  113.410004  181600
7    URTH  12/01/2023  113.940002  114.559998  112.820000  114.290001  178600
8    URTH  13/01/2023  113.500000  114.889999  113.470001  114.800003  288700
9    URTH  17/01/2023  115.010002  115.330002  114.550003  114.790001  680200
10   URTH  18/01/2023  115.379997  115.629997  113.400002  113.470001  431900
11   URTH  19/01/2023  112.839996  113.320000  112.360001  112.750000  250900
12   URTH  20/01/2023  113.059998  114.610001  112.650002  114.559998  288400
13   URTH  23/01/2023  114.690002  116.089996  114.410004  115.699997  367200
14   URTH  24/01/2023  115.250000  115.769997  114.820000  115.589996  126100
15   URTH  25/01/2023  114.550003  115.860001  114.099998  115.820000  112000
16   URTH  26/01/2023  116.370003  116.779999  115.550003  116.779999  147600
17   URTH  27/01/2023  116.389999  117.489998  116.309998  116.949997  462000
18   URTH  30/01/2023  116.180000  116.779999  115.570000  115.629997  486500
19   URTH  31/01/2023  115.699997  117.059998  115.500000  117.010002  192900
20   URTH  01/02/2023  116.839996  118.879997  116.160004  118.239998  228000
21   URTH  02/02/2023  119.180000  119.779999  118.489998  119.430000  572100
22   URTH  03/02/2023  118.040001  118.770103  117.989998  118.654999   42708

In [8]:
dfMain

,Ticker,Date/Time,open,high,low,close,volume
0,ACWI,03/01/2023,85.510002,86.019997,84.400002,84.900002,13272000
1,ACWI,04/01/2023,85.820000,86.279999,85.110001,85.980003,5696300
2,ACWI,05/01/2023,85.419998,85.519997,84.919998,85.099998,8268000
3,ACWI,06/01/2023,85.800003,87.250000,85.129997,87.070000,5254100
4,ACWI,09/01/2023,87.660004,88.330002,87.220001,87.260002,6658500
...,...,...,...,...,...,...,...
18,URTH,30/01/2023,116.180000,116.779999,115.570000,115.629997,486500
19,URTH,31/01/2023,115.699997,117.059998,115.500000,117.010002,192900
20,URTH,01/02/2023,116.839996,118.879997,116.160004,118.239998,228000
21,URTH,02/02/2023,119.180000,119.779999,118.489998,119.430000,572100
22,URTH,03/02/2023,118.040001,118.770103,117.989998,118.654999,42708

In [9]:
dfMain.to_csv(output_file,index=False)