# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [ ]:
symbol_list=['ACWI','QQQ','AAXJ','GLD']

list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file=r'data/4CoreETFWorld.csv'

In [ ]:
from_date_str='2022-11-01'
to_date_str='2023-03-01'
print(f"Get data of {symbol_list} from :{from_date_str} to {to_date_str}")

In [5]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [6]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============ACWI=============
   Ticker   Date/Time       open       high        low      close    volume
0    ACWI  31/10/2022  82.650002  83.080002  82.519997  82.769997   6739400
1    ACWI  01/11/2022  83.980003  83.989998  82.589996  82.849998   2923000
2    ACWI  02/11/2022  82.839996  83.839996  81.089996  81.150002  10681700
3    ACWI  03/11/2022  80.239998  80.970001  79.849998  80.440002   7749200
4    ACWI  04/11/2022  82.269997  82.669998  81.070000  82.330002   6669600
..    ...         ...        ...        ...        ...        ...       ...
77   ACWI  22/02/2023  89.180000  89.430000  88.629997  88.919998   3636800
78   ACWI  23/02/2023  89.519997  89.650002  88.470001  89.349998   2342100
79   ACWI  24/02/2023  87.959999  88.290001  87.660004  88.160004   2460100
80   ACWI  27/02/2023  88.949997  89.239998  88.510002  88.680000   2749900
81   ACWI  28/02/2023  88.570000  88.809998  88.220001  88.220001   5007600

[82 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============QQQ=============
   Ticker   Date/Time        open        high         low       close  \
0     QQQ  31/10/2022  278.920013  279.760010  275.989990  277.950012
1     QQQ  01/11/2022  281.500000  282.070007  274.739990  275.109985
2     QQQ  02/11/2022  275.079987  278.209991  265.609985  265.679993
3     QQQ  03/11/2022  263.010010  264.500000  260.100006  260.489990
4     QQQ  04/11/2022  265.529999  266.609985  259.079987  264.679993
..    ...         ...         ...         ...         ...         ...
77    QQQ  22/02/2023  294.619995  296.359985  292.559998  294.250000
78    QQQ  23/02/2023  297.970001  298.130005  292.549988  296.820007
79    QQQ  24/02/2023  291.760010  292.970001  290.049988  291.850006
80    QQQ  27/02/2023  295.070007  296.489990  293.339996  293.940002
81    QQQ  28/02/2023  293.299988  296.119995  292.959991  293.559998

      volume
0   47742000
1   45895900
2   79803100
3   70038900
4   78313200
..       ...
77  51389200
78  69294400
79  74332000
80  48995000
81  48243100

[82 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============AAXJ=============
   Ticker   Date/Time       open       high        low      close   volume
0    AAXJ  31/10/2022  55.220001  55.680000  55.189999  55.509998   869500
1    AAXJ  01/11/2022  57.090000  57.320000  56.660000  56.689999   492100
2    AAXJ  02/11/2022  56.950001  57.639999  56.360001  56.360001   712300
3    AAXJ  03/11/2022  55.980000  56.830002  55.980000  56.709999   709500
4    AAXJ  04/11/2022  58.970001  59.360001  58.310001  59.259998  1678300
..    ...         ...        ...        ...        ...        ...      ...
77   AAXJ  22/02/2023  67.190002  67.190002  66.629997  66.809998   722300
78   AAXJ  23/02/2023  67.510002  67.540001  66.599998  67.019997   549900
79   AAXJ  24/02/2023  65.629997  65.779999  65.230003  65.480003   563300
80   AAXJ  27/02/2023  66.010002  66.080002  65.820000  65.919998   296700
81   AAXJ  28/02/2023  65.680000  65.860001  65.400002  65.470001   407000

[82 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
==============GLD=============
   Ticker   Date/Time        open        high         low       close   volume
0     GLD  31/10/2022  152.160004  152.869995  151.889999  151.910004  6097800
1     GLD  01/11/2022  153.820007  153.979996  152.869995  153.460007  4603600
2     GLD  02/11/2022  154.160004  155.419998  152.259995  152.389999  7210900
3     GLD  03/11/2022  150.699997  151.960007  150.570007  151.809998  5378800
4     GLD  04/11/2022  154.949997  156.600006  154.660004  156.470001  7692000
..    ...         ...         ...         ...         ...         ...      ...
77    GLD  22/02/2023  170.809998  170.960007  169.559998  169.660004  4105700
78    GLD  23/02/2023  169.839996  170.130005  169.080002  169.570007  5073500
79    GLD  24/02/2023  168.419998  168.839996  168.190002  168.350006  6496500
80    GLD  27/02/2023  168.880005  169.229996  168.550003  169.009995  4509200
81    GLD  28/02/2023  168.779999  170.250000  168.589996  169.779999  6761600

[82 rows x 7 columns]

In [7]:
dfMain

,Ticker,Date/Time,open,high,low,close,volume
0,ACWI,31/10/2022,82.650002,83.080002,82.519997,82.769997,6739400
1,ACWI,01/11/2022,83.980003,83.989998,82.589996,82.849998,2923000
2,ACWI,02/11/2022,82.839996,83.839996,81.089996,81.150002,10681700
3,ACWI,03/11/2022,80.239998,80.970001,79.849998,80.440002,7749200
4,ACWI,04/11/2022,82.269997,82.669998,81.070000,82.330002,6669600
...,...,...,...,...,...,...,...
77,GLD,22/02/2023,170.809998,170.960007,169.559998,169.660004,4105700
78,GLD,23/02/2023,169.839996,170.130005,169.080002,169.570007,5073500
79,GLD,24/02/2023,168.419998,168.839996,168.190002,168.350006,6496500
80,GLD,27/02/2023,168.880005,169.229996,168.550003,169.009995,4509200
81,GLD,28/02/2023,168.779999,170.250000,168.589996,169.779999,6761600

In [8]:
dfMain.to_csv(output_file,index=False)