# Get ETF Fund Price From Finance Yahoo

## Introduction

we will get data from yahoo by looping through list using yf.download, return value from invoking this function is dataframe. we will transform dataframe by pandas package correspondoing my particular format , we will append each into main dataframe , and finally we write the main data as csv file

Link reference
* [yfinance github](https://github.com/ranaroussi/yfinance)
* [getting started with Pandas by 10 minutes]( https://pandas.pydata.org/docs/user_guide/10min.html )

In [16]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [17]:
# symbol_list=['ACWI','QQQ','AAXJ','GLD']
symbol_list=['ACWI','QQQ']

list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file=r'data/4CoreETFWorld.csv'

In [18]:
from_date_str='2023-04-01'
to_date_str='2023-03-03'
print(f"Get data of {symbol_list} from :{from_date_str} to {to_date_str}")

Get data of ['ACWI', 'QQQ'] from :2023-03-01 to 2023-03-03

In [19]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [20]:
for symbol in symbol_list:
    
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)

    if dfx.empty==False:
      print(f"=============={symbol}=============")  
      dfx.drop(columns=['Adj Close'],inplace=True)
      dfx.reset_index(drop=False,inplace=True)  
      dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
      dfx.insert(0,'Ticker',symbol,True)
      dfx.columns=list_cols 
      print(dfx)
    
      dfMain=pd.concat([dfMain,dfx],axis=0)


    else:
      print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
==============ACWI=============
  Ticker   Date/Time       open       high        low      close   volume
0   ACWI  01/03/2023  88.529999  88.809998  88.129997  88.410004  3307700
1   ACWI  02/03/2023  87.940002  89.080002  87.830002  88.889999  5607400
[*********************100%***********************]  1 of 1 completed
==============QQQ=============
  Ticker   Date/Time        open        high         low       close    volume
0    QQQ  01/03/2023  293.260010  293.929993  290.200012  291.200012  58287000
1    QQQ  02/03/2023  288.660004  294.429993  288.369995  293.609985  53565900

In [21]:
dfMain

  Ticker   Date/Time        open        high         low       close    volume
0   ACWI  01/03/2023   88.529999   88.809998   88.129997   88.410004   3307700
1   ACWI  02/03/2023   87.940002   89.080002   87.830002   88.889999   5607400
0    QQQ  01/03/2023  293.260010  293.929993  290.200012  291.200012  58287000
1    QQQ  02/03/2023  288.660004  294.429993  288.369995  293.609985  53565900

In [8]:
dfMain.to_csv(output_file,index=False)